<h2 class="center">Picture added by <%= find_username(picture.user_id) %> (<%= time_since_created(picture.created_at) %>)</h2>
<%= image_tag picture.image.url(:medium), class: "main-pic center-block" %>
<br>
<p>
  <%= link_to "Like", picture_likes_path(picture), class: 'likes-link' %> | 
  <span class="likes_count"> <%= picture.likes.count %></span> Likes
  <% if user_signed_in? && current_user.id == picture.user_id %>
  <%= link_to "Delete picture", picture_path(picture), method: :delete, class: "delete-pic" %>
  <% end %>
</p>
