<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to "#{picture.name}", picture_path(picture) %> |
    <%= link_to "Edit #{picture.name}", edit_picture_path(picture) %> |
    <%= link_to "Delete #{picture.name}", picture_path(picture), method: :delete %> |
    <%= link_to "Comment", new_picture_comment_path(picture) %>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
  <%= link_to 'Add a picture', new_picture_path %>
<% end %>