<% if @picture.errors.any? %>
  <section id="errors" >
    <p> <%= pluralize(@picture.errors.count, "error") %> prohibited the picture from being posted:</p>
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit 'Upload Picture' %>
<% end %>