<% if @picture.errors.any? %>
  <section id="errors" >
    <p> <%= pluralize(@picture.errors.count, "error") %> prohibited the picture from being posted:</p>
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<h2>Upload your picture</h2>

<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <br>
  <%= fields_for @comment do |fc| %>
    <%= fc.label :thoughts %>
    <%= fc.text_area :thoughts %>
  <% end %>
  <br>
  <%= f.submit 'Upload Picture' %>
<% end %>
