<% if @comment.errors.any? %>
  <section id="errors" >
    <p> <%= pluralize(@comment.errors.count, "error") %> prohibited the comment from being posted:</p>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<p><%= @picture.name %></p>
<%= image_tag @picture.image.url(:medium) %>
<p><%= link_to "Edit picture", edit_picture_path(@picture) %> |
<%= link_to "Delete picture", picture_path(@picture), method: :delete %></p>
<p><%= link_to "Like", picture_likes_path(@picture), class: 'likes-link' %> | 
  <span class="likes_count"> <%= @picture.likes.count %></span> Likes</p>

<% if @picture.comments.any? %>
  <ul id="comments">
    <% @picture.comments.each do |comment| %>
        <% if comment.errors.none? %>
          <li><%= comment.thoughts %></li>  
        <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No comments</p>
<% end %>

<%= form_for [@picture, @comment] do |f| %>
  <%= f.label :thoughts %>
  <%= f.text_area :thoughts %>
  <%= f.submit 'Comment' %>
<% end %>
